{{#*inline "headers"}}
    <title>Scan | Only_Scan</title>
    <link rel="stylesheet" href="/scan.css">
{{/inline}}

{{#*inline "page"}}

    <div class="scan_list">
        <div class="new_button fields">
            <h3>Create new scan!</h3>
            <a class="button" href="/scan/new">click here!</a>
        </div>

        <ul>
            {{#each scans}}
            <li>
                <a href="/scan/{{this.id}}">
                    Scan {{this.date}} ({{this.done}} / {{this.total}})
                </a>
            </li>
            {{/each}}
        </ul>
    </div>


{{/inline}}

{{> base}}
