{{#*inline "headers"}}
<title>New | Scan | Only_Scan</title>
<link rel="stylesheet" href="/static/scan.css">
<script src="/static/dragger.js"></script>
<script src="/static/cropper.js"></script>
{{/inline}}

{{#*inline "page"}}

<div class="main">
    <div class="image_content" id="content">
        <div class="handles" id="handles">
            <div class="handle" id="handle0"></div>
            <div class="handle" id="handle1"></div>
            <div class="handle" id="handle2"></div>
            <div class="handle" id="handle3"></div>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-item">
            <input id="myFileInput" type="file" accept="image/*;capture=camera">
        </div>
        <div class="bottom-item">
            <button onclick="capture_img(event)">
                Continue!
            </button>
        </div>
    </div>
</div>

<form id="hidden_form" class="hidden" method="post" action="#">
    <input type="text" id="form_image" name="file">
</form>

<!-- <image id="target"/> -->
<!-- <canvas id="canvas"></canvas>
    <canvas id="canvas2"></canvas>

    <button onclick="capture_img()">Capture image!</button>
    Whatup my boys.

    <p id="textbox"></p>

    <button onclick="setPicToManipulate()">Force try!</button>


    <img id="ref_img"/> -->
<script src="/static/script.js"></script>

{{/inline}}

{{> base}}
