{{#*inline "headers"}}
<title>Fava | Only_Scan</title>
{{/inline}}


{{#*inline "page"}}

<div class="hero is-fullheight-with-navbar" style="display: flex;">
    <iframe style="flex-grow: 1; width: 100%; height: 100%;" src="{{fava_base}}{{name}}" title="Fava"></iframe>
</div>

{{/inline}}

{{> base}}

