{{#*inline "headers"}}
<title>Fava | Only_Scan</title>
<link rel="stylesheet" href="/static/fava.css">
{{/inline}}


{{#*inline "page"}}

<div class="fava">
 <iframe src="{{fava_base}}{{name}}" title="Fava"></iframe>
</div>

{{/inline}}

{{> base}}
