{{#*inline "headers"}}
<title>Fava | Only_Scan</title>
<script type="module" src="/static/dist/bundle.js"></script>
{{/inline}}


{{#*inline "page"}}


<div class="container is-fullheight-with-navbar">
    <div class="m-4">
        <p class="level-left is-8 gap">
            Upload your another beancount file.
            <input type="file" id="fileInput">
            <button class="button" onclick="yeet()">Yeet!</button>
        </p>

        <div class="columns"> 
            <div class="column">
                <p>Start date:</p>
                <input type="range" min="1" max="100" value="1" class="slider is-fullwidth" id="startDate">
            </div>
            <div class="column">
                <p>End date:</p>
                <input type="range" min="1" max="100" value="100" class="slider is-fullwidth" id="endDate">
            </div>
        </div>
    </div>



    <div class="m-4 ">
        <p class="level-left gap">
            Days per point <input type="number" value=14 id="spd">
            <button class="button" id="go_parent">parent</button>
        </p>
    </div>


    <p id="my_help"></p>
    <div id="my_dataviz"></div>
</div>

<script type="module">
    import { setupGraphs } from "/static/dist/bundle.js";
    {{#if logged_in}}
     setupGraphs("/fava/graphs/input.csv", "#my_dataviz", "#my_help", "#go_parent", "spd", "startDate", "endDate")
     {{/if}}

    function yeet() {
        const file = document.getElementById("fileInput").files[0];
        const fd = new FormData();
        fd.append("file", file);

        setupGraphs("/fava/graphs/input.csv", "#my_dataviz", "#my_help", "#go_parent", "", "", fd);
    }

    window.yeet = yeet;
</script>

<style>
    path.hover {
        box-shadow: 0px 0px 20px rgba(255, 0, 0, 1);
        stroke-width: 5px;
    }

    path {
        transition: 0.2s;
        transition-property: stroke-width;
    }

    .info {
        stroke: white;
    }

    text.info {
        z-index: 5;
        stroke: rgb(0, 0, 0);
        stroke-width: 2px;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        font-weight: 800;
        fill: white;
        font-size: 18px;
        paint-order: stroke;
        font-family: monospace;
    }
</style>
{{/inline}}

{{> base}}
