{{#*inline "headers"}}
<title>New | Scan | Only_Scan</title>
<link rel="stylesheet" href="/static/scan.css">
{{/inline}}

{{#*inline "page"}}

<input type=file id="fileinput" />

<script>
    // Select your input type file and store it in a variable
    const input = document.getElementById('fileinput');

    // This will upload the file after having read it
    const upload = (file) => {
        fetch('/fava/ingest/new', { // Your POST endpoint
            method: 'POST',
            headers: {
                // Content-Type may need to be completely **omitted**
                // or you may need something
                "Content-Type": "You will perhaps need to define a content-type here"
            },
            body: file // This is your file object
        }).then(
            response => response.text() // if the response is a JSON object
        ).then(
            success => console.log(success) // Handle the success response object
        ).catch(
            error => console.log(error) // Handle the error response object
        );
    };

    // Event handler executed when a file is selected
    const onSelectFile = () => upload(input.files[0]);

    // Add a listener on your input
    // It will be triggered when a file will be selected
    input.addEventListener('change', onSelectFile, false);
</script>


{{/inline}}

{{> base}}
