{{#*inline "headers"}}
<title>Scrum | Only_Scan</title>
<link rel="stylesheet" href="/static/scrum.css">
{{/inline}}

{{#*inline "page"}}
<div class="main">
    {{this.title}}
</div>

{{/inline}}

{{> base}}
