{{#*inline "headers"}}
<title>Scrum | Only_Scan</title>
<link rel="stylesheet" href="/scrum.css">
<script src="/scrum/sidebar.js"></script>
{{/inline}}

{{#*inline "page"}}
<div class="main">
    <div class="scrum list">
        <header class="todo story">
            TODO
        </header>
        <header class="doing story">
            Doing
        </header>
        <header class="done story">
            Done
        </header>
        {{#each stories}}
        {{> scrum/partials/story }}
        {{/each}}
    </div>

    <div id="sidebar" class="sidebar">
        <button onclick="toggle_sidebar()">Epics</button>
        <div class="scrum list">
            {{#each epics}}
            {{> scrum/partials/epic }}
            {{/each}}
        </div>
    </div>
</div>

{{/inline}}

{{> base}}
