{{#*inline "headers"}}
<title>Scrum | Only_Scan</title>
<link rel="stylesheet" href="/static/scrum.css">
<script src="/static/scrum/sidebar.js"></script>
<script src="/static/scrum/main.js"></script>
{{/inline}}

{{#*inline "page"}}
<div class="main" ondrop="onDrop(event)" ondragover="onDragOver(event)">
    <div class="scrum list">
        {{#each tasks}}
        {{> scrum/partials/story }}
        {{/each}}
    </div>
</div>

<form action="scrum/new" method="post">
    <button name="foo" value="upvote">New</button>
</form>


{{/inline}}

{{> base}}
