html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body:not(.lc_mousedrag_is_mobile) #inner {
  overflow: hidden;
  cursor: grab;
}

a {
  text-decoration: none;
}

#title {
  font-size: 3em;
  padding: 20px;
  background: #333;
  color: white;
  font-weight: bolder;
  margin: 0;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tile:hover {
  transform: scale(1.2);
  z-index: 3;
}

.tiles .tile:nth-child(5n+0) {
  background: #FF7F00;
}

.tiles .tile:nth-child(5n+1) {
  background: #D40D48;
}

.tiles .tile:nth-child(5n+2) {
  background: #551AEB;
}

.tiles .tile:nth-child(5n+3) {
  background: #0088B3;
}

.tiles .tile:nth-child(5n+4) {
  background: #00C3FF;
}

.tile {
  transition-duration: 0.4s;
  transition-property: transform;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 2.4em;
  text-align: center;
}

@keyframes growin {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.error {
  padding: 20px;
  background-color: rgba(255, 40, 40, 0.7);
}

.content {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
  position: relative;
}

.handle_wrapper {
  position: relative;
  width: fit-content;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main {
  display: grid;
  grid-template-rows: auto 50px;
  height: 80vh;
  max-height: 80vh;
}

.handles {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}

.handle {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #69b6d5;
}

#handle0 {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

#handle1 {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

#handle2 {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

#handle3 {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.desks {
  margin: auto;
  width: max-content;
  min-width: 40vw;
  margin-top: 40px;
}

.desk {
  min-width: 200px;
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.option:hover {
  cursor: pointer;
  background-color: #bbb;
}


.desk a {
  width: 30px;
  height: 30px;
  display: table;
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: bolder;
  pointer-events:none
}

.desk a:before {
  display: table-cell;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  content: "\00d7";
}

.desk a:hover {
  background-color: orange;
}

.form .desk:hover {
  background-color: unset;
}

.desk .button {
  padding: 10px;
  width: 100%;
}

.form {
  margin-top: 50px;
  width: 100%;
}
