html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

body:not(.lc_mousedrag_is_mobile) #inner {
  cursor: grab;
}

a {
  text-decoration: none;
}

#title {
  font-size: 3em;
  padding: 20px;
  background: #333;
  color: white;
  font-weight: bolder;
  margin: 0;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tile:hover {
  transform: scale(1.2);
  z-index: 3;
}

.tiles .tile:nth-child(5n + 0) {
  background: #ff7f00;
}

.tiles .tile:nth-child(5n + 1) {
  background: #d40d48;
}

.tiles .tile:nth-child(5n + 2) {
  background: #551aeb;
}

.tiles .tile:nth-child(5n + 3) {
  background: #0088b3;
}

.tiles .tile:nth-child(5n + 4) {
  background: #00c3ff;
}

.tile {
  transition-duration: 0.4s;
  transition-property: transform;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;

  max-width: 40%;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 2.4em;
  text-align: center;
}

@keyframes growin {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.error {
  padding: 20px;
  background-color: rgba(255, 40, 40, 0.7);
}

.handle_wrapper {
  position: relative;
  width: fit-content;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.handles {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}

.handle {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #69b6d5;
}

#handle0 {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

#handle1 {
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

#handle2 {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

#handle3 {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%);
}

.page {
  margin: auto;
  max-width: 1024px;
  height: 100%;
}

.hidden {
  display: none;
}
