<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dist/main.css">

    {{> headers}}
</head>

<body class="is-fullheight">
    <div class="navbar">
        <!-- Navbar Starts here -->
        <nav class="container is-family-secondary" role="navigation" aria-label="main navigation">
            <!-- Navbar Brand containing the Heading -->
            <div class="navbar-brand">
                <a class="navbar-item has-background-info slanted" href="#">
                    <h1 class="has-text-white">OnlyScan</h1>
                </a>

                <!-- Burger Icons for responsive navbar -->
                <a role="button" id="navbar-burger" class="navbar-burger" onclick="toggleShowNav(event)"
                    aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <!-- Navbar Menu containing a list of items -->
            <div id="navbar-content" class="navbar-menu is-light">
                <div class="navbar-start">
                    {{#each routes as |route|}}
                        <a class="navbar-item slanted {{#if (eq route.[0] @root.loc)}} has-background-primary {{/if}}"
                        href="{{route.[0]}}">{{route.[1]}}</a>
                    {{/each}}
                </div>

                <!-- Navbar End containing Sign Up and Sign In Buttons -->
                <div class="navbar-end">

                    {{#if logged_in}}
                    <div class="navbar-item has-text-info">{{name}}</div>
                    <a class="navbar-item is-light slanted" href="/oauth/logout">Logout</a>
                    {{else}}
                    <a class="navbar-item has-text-success is-light slanted" href="/oauth/login">
                        <strong>Sign In</strong>
                    </a>
                    {{/if}}
                </div>
            </div>
        </nav>
    </div>

    {{> page}}



    <script>
        function toggleShowNav(event) {
            const burger = document.getElementById("navbar-burger")
            const content = document.getElementById("navbar-content")
            burger.classList.toggle("is-active")
            content.classList.toggle("is-active")
        }
    </script>
</body>

</html>
