<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    {{> headers}}
</head>

<body>
    <ul id=title class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/desk">Desk</a></li>
        <li><a href="/scan">Scan Me</a></li>
        <li><a href="/scrum">SCRUM</a></li>
        <li><a href="/fava">Fava</a></li>
        <li>
        {{#if logged_in}}
            <div>{{name}}</div>
        {{else}}
            <div>Anonymouse</div>
        {{/if}}
        </li>
    </ul>

    {{#each errors}}
    <div class="error">
        <h3>{{this.header}}</h3>
        <p>{{this.body}}</p>
    </div>
    {{/each}}

    {{> page}}
</body>

</html>
