{{#*inline "headers"}}
<title>Error | Only_Scan</title>
{{/inline}}

{{#*inline "page"}}

<div style="margin: auto; max-width: 1200px;">
<h1>An Error Happened </h1>

<p>
{{error}}
</p>

</div>

{{/inline}}

{{> base}}
