{{#*inline "headers"}}
<title>Only_Scan</title>
{{/inline}}


{{#*inline "page"}}

<div class="tiles">
    <a class="tile" href="/desk">
        <p class="content">
            Desk
        </p>
    </a>
    <a class="tile" href="/scan">
        <p class="content">
            Scan Me
        </p>
    </a>
    <a class="tile" href="/scrum">
        <p class="content">
            SCRUM
        </p>
    </a>
    <a class="tile" href="/">
        <p class="content" >
            Somewhere else
        </p>
    </a>
    <div class="tile">
        <a class="content" href="/">
            Somewhere else
        </a>
    </div>
    <div class="tile">
        <a class="content" href="/">
            Somewhere else
        </a>
    </div>
</div>

{{/inline}}

{{> base}}
