{{#*inline "headers"}}
<title>Only_Scan</title>
{{/inline}}


{{#*inline "page"}}

<div class="container">
    <div class="columns is-variable is-multiline is-mobile is-centered">
        <div class="column is-one-quarter">
            <a href="/desk">
                <div class="notification is-success has-text-centered">Desk</div>
            </a>
        </div>
        <div class="column is-one-quarter">
            <a href="/scan">
                <div class="notification is-success has-text-centered">Scan</div>
            </a>
        </div>
        <div class="column is-one-quarter">
            <a href="/scrum">
                <div class="notification is-success has-text-centered">SCRUM</div>
            </a>
        </div>
        <div class="column is-one-quarter">
            <a href="/fava">
                <div class="notification is-success has-text-centered">Fava</div>
            </a>
        </div>
        <div class="column is-one-quarter">
            <div class="notification is-success has-text-centered">Somewhere else</div>
        </div>
        <div class="column is-one-quarter">
            <div class="notification is-success has-text-centered">Somewhere else </div>
        </div>
        <div class="column is-one-quarter">
            <div class="notification is-success has-text-centered">Somewhere else</div>
        </div>
        <div class="column is-one-quarter">
            <div class="notification is-success has-text-centered">Somewhere else</div>
        </div>
    </div>
</div>
{{/inline}}

{{> base}}
