{{#*inline "page"}}

<div class="tiles">
    <a class="tile" href="/desk">
        Desk
    </a>
    <a class="tile" href="/">
        Somewhere else
    </a>
    <a class="tile" href="/">
        Somewhere else
    </a>
    <a class="tile" href="/">
        Somewhere else
    </a>
    <a class="tile" href="/">
        Somewhere else
    </a>
    <a class="tile" href="/">
        Somewhere else
    </a>
</div>

{{/inline}}

{{> base}}
