{{#*inline "headers"}}
<title>Only_Scan</title>
{{/inline}}


{{#*inline "page"}}

<div class="tiles">
    <div class="tile">
        <a class="content" href="/desk">
            Desk
        </a>
    </div>
    <div class="tile">
        <a class="content" href="/scan">
            Scan Me
        </a>
    </div>
    <div class="tile">
        <a class="content" href="/scrum">
            SCRUM
        </a>
    </div>
    <div class="tile">
        <a class="content" href="/">
            Somewhere else
        </a>
    </div>
    <div class="tile">
        <a class="content" href="/">
            Somewhere else
        </a>
    </div>
    <div class="tile">
        <a class="content" href="/">
            Somewhere else
        </a>
    </div>
</div>

{{/inline}}

{{> base}}
